.titulo {
    text-align: center;

    margin-bottom: 30px;
     font-family: "cabecera";
  font-size: 200px;
}
@font-face {
    font-family: "cabecera";
    src: url(../cajeros/Pumpkin\ Pancakes.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 background-image: url(../cajeros/img/fondo-minimalista.jpg);
}

.form-register {
    width: 450px;
    background-image: url(../cajeros/img/Magic.png);

    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    font-family: 'calibri';
    color: rgb(51, 48, 48);
   
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    
}

.controls {
    width: 160%;
    background: #ffffff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 16px;
    border: 1px solid #ffffff;
    font-family: "cabecera";
    font-size: 25px;
    color: rgb(0, 0, 0);
   
    text-align: center;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a {
    color: white;
    text-decoration: none;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}

.form-register .botons {
    width: 100%;
    background: #396afc;

    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    margin-left: 100px;
   
}



.form-register .botonss {
    width: 100%;
    background: rgb(209, 195, 64);
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    margin-left: 100px;
   
}
@media (max-width : 480px ){

    form {
        width: 100%;
    }
}