.titulo {
    text-align: center;

    margin-bottom: 30px;
     font-family: "cabecera";
  font-size: 200px;
}
@font-face {
    font-family: "cabecera";
    src: url(../cajeros/Pumpkin\ Pancakes.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 background-image: url(../cajeros/img/fondo-minimalista.jpg);
}

.form-register {
    width: 450px;
    background: #8360c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    font-family: 'calibri';
    color: rgb(51, 48, 48);
   
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    
}

.form-register .controls {
   width: 300px;
    background: #ffffff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 16px;
    border: 1px solid #ffffff;
    font-family: "cabecera";
    font-size: 25px;
    color: rgb(0, 0, 0);
   margin-left: 40px;
   margin-right: 40px;
 
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a {
    color: white;
    text-decoration: none;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}

.form-register .botons {
    width: 100%;
    background: #396afc;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    margin-left: 100px;
   
}

@media (max-width : 480px ){

    form {
        width: 100%;
    }
}